services:
  db:
    image: postgres:15-alpine
    restart: always
    env_file: .env
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - db
    env_file: .env

  frontend:
    build: ./frontend
    depends_on:
      - backend
